<% provide(:title, 'All companies') %>
<h1>All companies</h1>
<div class="add-new-item">
      <span class="glyphicon glyphicon-plus"></span> 
  <%= link_to 'Добавить больницу', new_company_path %>
</div>
<%= link_to 'Все города', companies_path %> 
<% @cities.each do |city| %>
  | <%= link_to city.name, companies_city_sort_path(city.id) %>
(<%= city.companies_count %>) 
<% end %>
<p>
    <ol class="breadcrumb"><%= render_breadcrumbs %></ol>
    <%= will_paginate @companies, renderer: BootstrapPagination::Rails %>
<ul>
  <% @companies.each do |company| %>
    <li><%= link_to company.name, company %>
     | <%= link_to 'Edit', edit_company_path(company) %>
   | <%= link_to 'Delete', company, method: :delete,
     data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>
    <%= will_paginate @companies, renderer: BootstrapPagination::Rails %>
