<% provide(:title, @company.name) %>
<p><%= render_breadcrumbs %></p>
<div class="row">
        <h1><%= @company.name %></h1>
     <%= link_to 'Edit', edit_company_path %>
        <p>Описание: <%= @company.desc %>
        <p>Адрес: <%= @company.adress%>
        <p>Контакты: <%= @company.contacts %>
        <p>Тип компании: <%= @company.type_company_id %>
        <p>City: <%= @company.city.name %>
        <% if @company.main_doctor %>
          <p>Глав врач: <%= link_to @company.main_doctor.name, 
            @company.main_doctor %>
        <% end %>
        <% if !@company.doctors.empty? %>
          <p>Врачи:
          <%= render partial: "list", collection: @company.doctors, as: :doctor %>
        <% end %>
</div>
