<h1><%= @company.name %></h1>
<p>Описание: <%= @company.desc %>
<p>Адрес: <%= @company.adress%>
<p>Контакты: <%= @company.contacts %>
<p>Тип компании: <%= @company.type_company_id %>
<p>Глав врач: <%= @company.main_doctor_id %>
