<% provide(:title, 'All doctors') %>
<h1>All doctors</h1>
<div class="add-new-item">
  <span class="glyphicon glyphicon-plus"></span> 
  <%= link_to 'Добавить врача', new_doctor_path %>
</div>
<%= link_to 'Все города', doctors_path %> 
<% @cities.each do |city| %>
  | <%= link_to city.name, doctors_city_sort_path(city.id) %>
(<%= city.doctors_count %>) 
<% end %>
<p>
<table><tr>
  <td valign="top">
    <%= link_to 'Все specialities', doctors_path %> 
    <% @specialities.each do |speciality| %>
      <li><%= link_to speciality.name, doctors_speciality_sort_path(speciality.id) %>
                  (<%= speciality.doctors_count %>)
    <% end %>
  </td>
  <td>
    <p><%= render_breadcrumbs %></p>
    <%= will_paginate %>
    <ul class="doctors">
    <%= render @doctors %>
    </ul>
    <%= will_paginate %>
  </td>
</tr></table>

