<% provide(:title, @doctor.name) %>

<div class="row">
  <div class="col-md-3">
    <%= render "leftside" %>
      </div>
      <div class="col-md-9">
        <ol class="breadcrumb"><%= render_breadcrumbs %></ol>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @doctor.name %></h3>
      </div>
    <div class="panel-body">
      <%= @doctor.desc %>
      <% if @doctor.speciality %>
        <p>Speciality: <%= @doctor.speciality.name %>
      <% end %>
      <% if @doctor.company %>
        <p>Company: <%= link_to @doctor.company.name, @doctor.company %>
      <% end %>
    </div>
  </div>
</div>
</div>

