<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
      <%= link_to "врачи украины", root_path, id: "logo" %>
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("homepage"), root_path %></li>
        <li class="dropdown">
          <%= link_to companies_path, class: "dropdown-toggle",
            data: { toggle: "dropdown" } do %>
            <%= t('hospitals') %><b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to t("hospitals"), companies_path %></li>
            <li><%= link_to t("cabinets"), cabinets_path %></li>
            <li><%= link_to t("add_hospital"), new_company_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to doctors_path, class: "dropdown-toggle",
            data: { toggle: "dropdown" } do %>
            Врачи <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Все врачи", doctors_path %></li>
            <li><%= link_to "Добавить врача", new_doctor_path %></li>
          </ul>
        </li>  
         <% if signed_in? %>
            <li><%= link_to "Пользователи", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Мой кабинет <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Профиль", current_user %></li>
                <li><%= link_to "Найтройки", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Выйти", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Вход", signin_path %></li>
          <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</header>

